@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --color-primary-200: hsl(206, 94%, 87%);
  --color-primary-300: hsl(228, 100%, 84%);
  --color-primary-400: hsl(354, 84%, 57%);
  --color-primary-500: hsl(243, 100%, 62%);
  --color-primary-700: hsl(213, 96%, 18%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(231, 100%, 99%);
  --color-neutral-300: hsl(217, 100%, 97%);
  --color-neutral-400: hsl(229, 24%, 87%);
  --color-neutral-500: hsl(231, 11%, 63%);

  --font-family: "Ubuntu", Helvetica, sans-serif;
  --font-size-body: 1rem;
  --font-color-body: var(--color-neutral-500);
  --font-color-title: var(--color-primary-700);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET END */

body {
  background-color: var(--color-neutral-300);
  color: var(--font-color-body);
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  min-height: 100vh;
  min-height: 100dvh;
}

.form-section {
  display: grid;
  grid-template-rows: 20vh 1fr 10vh;
  min-height: 100dvh;
  min-height: 100vh;
  width: 100%;
}

.form-section__header {
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;
  display: grid;
  min-height: 20dvh;
  min-height: 20vh;
}

.header__pagination {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin-block: 2rem auto;
  margin-inline: auto;
  padding: 0;
  place-items: center;
}

.header__pagination > li {
  display: grid;
}

.pagination__number {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.1rem solid;
  color: var(--color-neutral-100);
  display: grid;
  font-weight: var(--font-weight-bold);
  margin: auto;
  place-content: center;
  width: 2.2rem;
}

.pagination__number.selected {
  background-color: var(--color-primary-200);
  border-color: var(--color-primary-200);
  color: var(--color-primary-700);
}

.pagination__label {
  display: none;
}

.form-section__main {
  background-color: var(--color-neutral-100);
  border-radius: 1rem;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  transform: translateY(-4rem);
  width: calc(100% - 2rem);
}

h1 {
  color: var(--font-color-title);
  font-size: calc(var(--font-size-body) * 1.66);
}

form {
  display: grid;
  gap: 1rem;
  margin-block-start: 1.5rem;
}

input[type="text"] {
  border-radius: 0.3rem;
  border: 0.1rem solid var(--color-neutral-500);
  color: var(--color-neutral-500);
  font-weight: var(--font-weight-medium);
  padding: 0.5rem;
}

label {
  color: var(--color-primary-700);
  display: grid;
  gap: 0.25rem;
}

.radio-label,
.checkbox-label {
  border: 1px solid var(--color-neutral-400);
  border-radius: 0.5rem;
  color: var(--color-neutral-500);
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.radio-label {
  grid-template-columns: auto 1fr;
}

.radio-label.selected,
.checkbox-label.selected {
  background-color: var(--color-neutral-200);
  border-color: var(--color-primary-700);
}

.radio-label input {
  outline: 0;
  opacity: 0;
}

.radio-container {
  display: grid;
}

.radio-container > * {
  grid-area: 1 / -1;
  place-content: center;
}

.radio-container > img {
  z-index: 1000;
  margin-block-end: auto;
  margin-inline: auto;
}

.radio-label__content {
  display: grid;
  margin-block: auto;
  margin-inline-end: auto;
  order: 1000;
}

.radio-label__name,
.checkbox-label__name {
  color: var(--font-color-title);
  font-weight: var(--font-weight-bold);
}

.radio-label small {
  color: var(--color-primary-700);
  font-weight: var(--font-weight-medium);
}

.toggle-container {
  background-color: var(--color-neutral-200);
  border-radius: 0.5rem;
  display: grid;
  font-weight: var(--font-weight-medium);
  gap: 1.5rem;
  grid-template-columns: 1fr auto 1fr;
  padding: 1rem;
}

.toggle-container label {
  color: var(--color-neutral-500);
}

.toggle-container label.selected {
  color: var(--color-primary-700);
}

.toggle-container > label:first-of-type {
  margin-inline-start: auto;
}

.toggle-container input {
  position: absolute;
  opacity: 0;
}

.toggle {
  background-color: var(--color-primary-700);
  border-radius: 100rem;
  display: grid;
  padding: 0.2rem;
  height: 1.25rem;
  margin-block: auto;
  width: 2.4rem;
}

.toggle::after {
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  content: "";
  background-color: var(--color-neutral-100);
  width: 0.8rem;
  margin-block: auto;
}

.toggle.yearly::after {
  margin-inline-start: auto;
}

.checkbox-label {
  --space: 0.66rem;
  gap: var(--space);
  grid-template-columns: auto 1fr auto;
  padding: var(--space);
}

.checkbox-label > div {
  display: grid;
}

.checkbox-label input {
  opacity: 0;
  position: absolute;
}

.checkmark {
  display: grid;
}

.checkmark__checkbox {
  aspect-ratio: 1;
  border-radius: 0.3rem;
  border: 1px solid var(--color-neutral-400);
  display: grid;
  margin: auto;
  place-content: center;
  width: 1.3rem;
}

.checkbox-label.selected .checkmark__checkbox {
  background-color: var(--color-primary-500);
}

.checkbox-label__desc {
  font-size: 0.8rem;
}

.checkbox-label__price {
  color: var(--color-primary-500);
  font-size: 0.8rem;
  font-weight: var(--font-weight-medium);
  margin: auto;
}

.order-summary {
  background-color: var(--color-neutral-200);
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  margin-block-start: 1rem;
  padding: 1rem;
}

.order-summary__name,
.order-summary__row:first-of-type {
  color: var(--color-primary-700);
  font-weight: var(--font-weight-medium);
}

.order-summary__row {
  display: grid;
  grid-auto-flow: column;
}

.order-summary__row > * {
  margin-block: auto;
}

.order-summary__row > p:last-of-type {
  color: var(--color-primary-700);
  margin-inline-start: auto;
}

.order-summary__row > button {
  background-color: transparent;
  border: 0;
  color: var(--color-neutral-500);
  font-weight: var(--font-weight-regular);
  margin-inline-end: auto;
  padding: 0;
  text-decoration: underline;
}

.order-summary__total {
  background-color: var(--color-neutral-100);
  padding: 1rem;
  margin-block-start: 1rem;
}

.order-summary__total > p:last-of-type {
  color: var(--color-primary-500);
  font-weight: var(--font-weight-bold);
}

.form-section__footer {
  background-color: var(--color-neutral-100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.form-section__footer > button {
  border-radius: 0.25rem;
  font: inherit;
  font-weight: var(--font-weight-medium);
  padding: 0.5rem 1rem;
}

.footer__back {
  background-color: transparent;
  border: 0;
  color: var(--color-neutral-500);
  margin-inline-end: auto;
}

.footer__back.hidden {
  visibility: hidden;
}

.footer__next {
  background-color: var(--color-primary-700);
  border-color: transparent;
  color: var(--color-neutral-100);
  margin-inline-start: auto;
  min-width: 6.9rem;
}

.footer__next.submit {
  background-color: var(--color-primary-500);
}
